<section class='overflow-hidden'>
  <div class='mx-auto max-w-7xl px-8 md:px-12 pb-12'>
    <h1
      class='text-4xl sm:text-4xl md:text-5xl lg:text-6xl text-balance font-medium tracking-tighter text-base-900 mt-12 aos-init aos-animate'
      data-aos='fade-up'
      data-aos-duration='1500'
    >
      Discover your dream home. Explore our real estate listings today
    </h1>
    <div class='grid lg:grid-cols-3 pt-8 mt-8 border-t border-base-200'>
      <h2 class='text-lg sm:text-xl md:text-2xl font-medium text-base-900'>Services</h2>
      <div class='lg:col-span-2 lg:col-start-2 grid lg:grid-cols-2 grid-flow-row'>
        <div class='grid grid-rows-subgrid row-span-2'>
          <h3 class='text-lg sm:text-xl md:text-2xl font-medium text-base-900'>
            BREEAM certification
          </h3>
          <p class='text-base mt-2 text-base-500 text-balance'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget sapien
            egestas. More lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget
            sapien egestas.
          </p>
        </div>
        <div class='grid grid-rows-subgrid row-span-2'>
          <h3 class='text-lg sm:text-xl md:text-2xl font-medium text-base-900'>
            LEED certification
          </h3>
          <p class='text-base mt-2 text-base-500 text-balance'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget sapien
            egestas. More lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget
            sapien egestas.
          </p>
        </div>
        <div class='grid grid-rows-subgrid row-span-2'>
          <h3 class='text-lg sm:text-xl md:text-2xl font-medium text-base-900'>EU Taxonomy</h3>
          <p class='text-base mt-2 text-base-500 text-balance'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget sapien
            egestas. More lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget
            sapien egestas.
          </p>
        </div>
        <div class='grid grid-rows-subgrid row-span-2'>
          <h3 class='text-lg sm:text-xl md:text-2xl font-medium text-base-900'>
            Buliding simulation & modeling
          </h3>
          <p class='text-base mt-2 text-base-500 text-balance'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget sapien
            egestas. More lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget
            sapien egestas.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
