---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
import SideBarMenu from "./SideBarMenu.astro";
const { sideBarActiveItemID } = Astro.props;
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside class="flex h-auto min-h-full w-[19rem] flex-col bg-white px-2 pt-12 text-base-content">
    <div class="mx-auto mb-6 mt-0 w-fit">
      <a href="/">
        <div>
          <div class="w-[2.5rem]">
            <img class="brightness-0 grayscale" src="/salvis_logo_small.png" alt="Logo SALVIS" />
          </div>
        </div>
      </a>
    </div>
    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
    <!-- <SideBarFooter /> -->
  </aside>
</div>
